<link rel="stylesheet" href='/styles/detalhes.css'>    
<h1>Detalhes do Cliente</h1>
<p><strong>Nome:</strong> <%= cliente.nome %></p>
<p><strong>Endereço:</strong> <%= cliente.endereco %></p>
<p><strong>Telefone:</strong> <%= cliente.telefone %></p>
<p><strong>CPF:</strong> <%= cliente.cpf %></p>
<p><strong>Data_Nascimento:</strong> <%= cliente.data_nascimento %></p>
<p><strong>Email:</strong> <%= cliente.email %></p>
<a href="/">Voltar</a>